@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1d1d1e;
  --foreground: #ff16a9;
}

body {
  background-color: #1d1d1e;
  color: #e7e8ef;
  font-family: var(--font-secondary), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.font-primary {
  font-family: var(--font-primary), sans-serif;
  color: #ff16a9;
}

.font-secondary {
  font-family: var(--font-secondary), sans-serif;
  color: #e7e8ef;
}
